<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventmanagement.dao.EventMapper">
    <select id="getNewEvents" resultType="com.eventmanagement.domain.Event">
        select * from Events where Status != 'Completed' order by EventStartDate desc
    </select>

    <select id="search" parameterType="com.eventmanagement.domain.Event" resultType="com.eventmanagement.domain.Event">
        select * from Events
        <where>
            <if test="eventName != null">AND eventName like CONCAT('%',#{eventName},'%')</if>
            <if test="location != null">AND location like CONCAT('%',#{location},'%')</if>
        </where>
        order by EventStartDate desc
    </select>

    <insert id="addEvent" parameterType="com.eventmanagement.domain.Event">
        insert into Events(EventID, EventName, EventDescription, EventStartDate, EventEndDate, Location, Status, CreatedAt, UpdatedAt)
        VALUES (#{eventId}, #{eventName}, #{eventDescription}, #{eventStartDate}, #{eventEndDate}, #{location}, #{status}, #{createdAt}, #{updatedAt})
    </insert>
</mapper>